body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  background-color: rgb(92, 92, 92);
  color: white;
  text-align: center;
}
main{
  padding: 0 15%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.btn button{
  padding: 5px;
  margin: 10px;
  font-size: large;
  width: 50px;
  background-color: #04AA6D;
  color: aliceblue;
  font-weight: bolder;
  border: none;
  border-radius: 5px;

}
.btn button:hover{

  background-color: #04291b;
 cursor: pointer;

}
ol{
  display: block;
}